name: Deploy Vite to GitHub Pages

on:
    push:
        branches: ['main'] # Ou 'master', dependendo da sua branch principal
    workflow_dispatch:

permissions:
    contents: write # Permissão necessária para criar/escrever na branch gh-pages

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout do código
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
            
            - name: Instalar dependências
              run: npm install

            - name: Build do Vite com Variáveis de Ambiente   
              env:
                VITE_BASE_PATH: /${{ github.event.repository.name }}/ 

              run: npm run build -- --base=/${{ github.event.repository.name }}/

            - name: Deploy para branch gh-pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist # Pasta gerada pelo build do Vite (pode ser 'build' em alguns casos)
                  force_orphan: true # (Opcional) Mantém o histórico da branch gh-pages limpo
